.row{
    margin-top: 70px;
}



.btn-primary{
    margin-left: 290px;}

.col-form-label{
margin: auto;
}
.myform0{
    margin-left: 204px;
}


.modal-content {

margin: 100px 0px 10px -10px;}
h5{
    margin: 40px 10px 10px 230px;
}