
  
<app-menu></app-menu>
  
  <div class="container ">
      
          <div class="col-lg-12 offset-2">
              <div class="alert alert-info">
                  <strong>Info!</strong>Pour donner l'accés du changement du taux de pénalité, il faut bien retourner au loi n°...
                </div>
     

 
    <div class="custom-control custom-switch" >
      <input type="checkbox" class="custom-control-input" id="customSwitch1" checked>
      <label class="custom-control-label" for="customSwitch1">autoriser la modification </label>
    </div>

  </div> 
  </div>